@-moz-document domain("google.com") {
body {
    background: rgba(158, 191, 189, .1) !important
}
a:visited {
    color: #fff !important;
}
Bi9oQd {
    display: none !important
}
a, .RES9jf, .R8BTeb, .zz3gNc, .CYJS5e, em, .i3LlFf {
    color: #f0f0f0 !important;
}
.Jb0Zif .AxJnmb.Wdsnue .rl_item_base {
    border: none !important
}
div {
    background: rgba(255, 255, 255, 0) !important;
    border-color: rgba(255, 255, 255, 0) !important;
}

.mkHrUc, .RNNXgb {
    background: rgba(244, 244, 244, .79) !important;
    border-radius: 20px
}
span, cite, .ynAwRc, .r0uZsf, .YmvwI, .ssJ7i, .zqrO0 {
    color: #fff !important;
}
.Lu57id {
    color: #fff !important;
}
svg {
    color: #080000 !important;
}
.wM6W7d span {
    color: #080000 !important;
}
.mkHrUc {
    border-radius: 0px
}
.DYjfCf, .iblpc, .REySof, .NQyKp.h4wEae, .rl_item_base {
    background: rgba(255, 255, 255, 0) !important;
}
.gb_A, hr, .SaPW2b {
    display: none
}
.UjBGL {
    background: rgba(18, 18, 18, .3) !important;
    width: 100px;
    border-radius: 20px
}
}