@-moz-document domain("youtube.com") {
html {
    background: rgba(121, 131, 151, .19) !important;
    backdrop-filter: blur(8.6px) !important;
    width: 100vw !important;
    height: 100vh !important;
}
body {
    background: rgba(255, 255, 255, 0) !important;
    backdrop-filter: none !important;
}
ytd-app {
    background: rgba(255, 255, 255, .0) !important;
}
.style-scope {
    background: rgba(255, 255, 255, .0) !important;
}
#logo.ytd-topbar-logo-renderer,
ytd-yoodle-renderer.ytd-topbar-logo-renderer {
    display: none !important
}
#country-code.ytd-topbar-logo-renderer {
    display: none !important
}
.watch-main-col {
    display: none !important
}
#buttons.ytd-masthead > .ytd-masthead:first-child {
    display: none !important
}
.yt-spec-button-shape-next--overlay.yt-spec-button-shape-next--text {
    display: none !important
}
#sponsor-button.ytd-video-owner-renderer:not(:empty) {
    display: none !important
}



/* Replies btn */
.yt-spec-button-shape-next--call-to-action.yt-spec-button-shape-next--text {
    color: #fdfdfd !important;
    border-color: rgb(36, 94, 121) !important;
}

/* comment color */
#content-text.ytd-comment-view-model {
    color: #fff;
    text-shadow: 0px 0px 2px #1336484d;
}

#description .yt-core-attributed-string__link {
    color: #fff !important;
    text-shadow: 0px 0px 2px #1336484d !important;
}
.yt-core-attributed-string--white-space-no-wrap {
    color: #fff !important;

    text-shadow: 0px 0px 2px #1336484d !important;
}
span.yt-core-attributed-string--white-space-no-wrap {
    color: rgb(240, 247, 246) !important;
    border-color: rgb(0, 0, 0) !important;
    text-shadow: 0px 0px 2px #00070bb3 !important;
}
#vote-count-middle.ytd-comment-engagement-bar {
    color: rgb(0, 0, 0) !important;
    border-color: rgb(255, 255, 255) !important;
}
.ytd-subscribe-button-renderer {
    display: none !important
}

/* To be done
ytd-subscription-notification-toggle-button-renderer-next
>div:nth-child(1) > div:nth-child(1) > div:nth-child(2) > div:nth-child(1){
    color: rgb(0, 0, 0) !important;
}
*/
.yt-core-attributed-string--link-inherit-color {
    color: #d3e9ee !important;
}
.yt-core-attributed-string__link {
    color: #d3e9ee !important;
}
#description-text, #subtitle {
    color: #d3e9ee !important;
}
#metadata-line, .truncated-text-wiz__truncated-text-content {
    color: #d3e9ee !important;
}

.ytd-thumbnail-overlay-resume-playback-renderer {
    /* text and hyperlinks */
    background-color: #d3e9ee !important;
}
#video-title, #title, .dynamic-text-view-model-wiz__h1 {
    color: #fff !important;
    text-shadow: 0px 0px 2px #0000004f;
}
.yt-tab-shape-wiz__tab {
    color: #fff !important;
    text-shadow: 0px 0px 2px #0000004f;
}

#label {
    color: #fff !important;
    text-shadow: 0px 0px 2px #0000004f;
}

ytd-badge-supported-renderer.ytd-channel-name div yt-icon span div svg {
    color: #fff;
}

#label.ytd-compact-link-renderer, #subtitle.ytd-compact-link-renderer, #label.ytd-toggle-theme-compact-link-renderer, yt-formatted-string[ellipsis-truncate-styling] a.yt-formatted-string:last-child, yt-formatted-string[ellipsis-truncate-styling] span.yt-formatted-string:last-child {
    color: #000 !important;
}
.yt-simple-endpoint {
    /* text and hyperlinks */
    color: #fff !important;
    text-shadow: 0px 0px 2px #0000004f;
}
ytd-info-panel-container-renderer[title-style = "LINK"] .title.ytd-info-panel-container-renderer,
.link-icon.ytd-info-panel-container-renderer {
    color: #000 !important;
    border-color: rgb(255, 255, 255) !important;
}

.yt-core-attributed-string__link,
#owner-sub-count,
#channel-name,
yt-formatted-string.ytd-channel-name .yt-simple-endpoint,
.ytd-video-meta-block .inline-metadata-item:nth-child(3n) {
    /* text and hyperlinks */
    color: #d8edf0 !important;
    border-color: rgb(255, 255, 255) !important;
}
.html5-video-player,
.html5-video-container,
.ytp-player-content ytp-iv-player-content {
    background-color: transparent !important;
}

.ytd-watch-flexy,
.ytp-iv-player-content {
    background: transparent !important
}

.ytd-channel-name .yt-simple-endpoint,
.ytd-comment-renderer,
ytd-author-comment-badge-renderer .ytd-channel-name {
    /* bug fix */
    color: #fff !important;
    text-shadow: 0px 0px 2px #0000004f;
}

#guide-wrapper.ytd-app {
    background: rgba(255, 255, 255, .8) !important;
    border-radius: 10px
}

#cinematics > div:nth-child(1) {
    display: none !important;
}

#cinematics {
    background: transparent !important;
}
.tp-yt-iron-dropdown {
    background: rgba(146, 164, 163, .53) !important;
    border-radius: 10px
}

tp-yt-paper-dialog.style-scope {
    background: rgba(244, 244, 244, .83) !important;
    border-radius: 10px
}
#about-container #links-section #link-list-container yt-channel-external-link-view-model div span a {
    color: #000 !important;
}
table.ytd-about-channel-renderer tbody tr td a {
    color: #000 !important;
    text-shadow: 0px 0px 0px #0000004f;
}
ytd-engagement-panel-title-header-renderer[modern-panels]:not([ads-semantic-text]) #title-text.ytd-engagement-panel-title-header-renderer {
    color: #000 !important;
}

#vote-count-middle.ytd-comment-action-buttons-renderer {
    color: #fff !important;
    text-shadow: 0px 0px 2px #0000004f;
}
.ytSearchboxComponentInputBox {
    background-color: #f4ebeb3d !important;
    border-color: #5b8bb036 !important;
    box-shadow: none !important
}
.ytSearchboxComponentSearchButton {
    color: #f8f8f8 !important;
    background: #ffffff24 !important;
    border-color: #7fa9ac8a !important;
}

#share-panel-header div yt-community-post-section-renderer div {
    color: #000 !important;
    text-shadow: 0px 0px 0px #0000004f;
}
#share-panel-header div yt-community-post-section-renderer div yt-button-renderer yt-button-shape button div span {
    color: #000 !important;
    text-shadow: none;
}
#title.yt-share-panel-title-v15-renderer {
    color: #000 !important;
    text-shadow: none;
}
yt-share-target-renderer .yt-share-target-renderer[style-target = "title"] {
    #title.yt-share-panel-title-v15-renderer {
        color: #000 !important;
        text-shadow: none;
    }
}

#above-the-fold div h1 yt-formatted-string {
    /*tittle video page*/
    color: #1b2324 !important;
    text-shadow: none;
}
#above-the-fold div div ytd-video-owner-renderer yt-formatted-string {
    /*sub count video page*/
    color: #1b2324 !important;
    text-shadow: none;
}

#above-the-fold div div ytd-video-owner-renderer div ytd-channel-name div div yt-formatted-string a {
    color: #1b2324 !important;
    text-shadow: none;
}

#above-the-fold div div ytd-video-owner-renderer div ytd-badge-supported-renderer div yt-icon span div svg {
    color: #1b2324 !important;
    text-shadow: none;
}
#live-chat-banner{background:aliceblue !important}
#message{color:black !important}
#contents{background: rgba(121, 131, 151, .0) !important;}
#chat-messages #contents{background: rgba(249, 249, 249, .25) !important;}

}
